/* client/src/components/ProblemSearch.css */
.problem-search {

    width: 100%;
    display: flex; /* Enable flexbox for centering */
    flex-direction: column; /* Stack input and results vertically */
    align-items: center;
  }
  
  .problem-search input {
    width: 50%;
    padding: 8px;
    background-color: #252526;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .search-results {
    width: 90%;
    max-height: 400px;
    overflow-y: auto;
    align-self: center;
    border: 1px solid #575757;
    border-radius: 4px;
  }
  
  .search-result-item {
    padding: 8px 12px;
    cursor: pointer;
    border-bottom: 1px solid #333;
    transition: background-color 0.2s;
  }
  
  .search-result-item:hover {
    background-color: #2a2a2a;
  }